<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="./scss/affairs.css" />
  <link rel="stylesheet" href="../../node_modules/bootstrap-icons/font/bootstrap-icons.css" />
  <title>شؤون الطلاب</title>
</head>

<body>
  <!--start of navbar-->
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark" dir="rtl">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">معهد الوفاء</a>
      <button class="navbar-toggler rounded-pill text-warning me-auto" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#sidebar" aria-controls="sidebar">
        <i class="bi bi-arrow-right-circle"></i>
      </button>
      <button class="navbar-toggler me-auto" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex me-auto mt-3 mt-md-0">
          <input class="text-center form-control mx-3 rounded-pill" id="Search" placeholder="إبحث">
          <datalist id="StudentListForSearch">
          </datalist>
        </form>
        <div class="dropdown mx-5">
          <button class="btn btn-warning dropdown-toggle rounded-pill" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            التقارير
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li>
              <a class="dropdown-item btn" href="#"> نسبه الغياب&raquo;</a>
              <ul class="dropdown-menu dropdown-submenu">
                <li class="mx-1">
                  <div class="input-group mb-3 mt-3" dir="rtl">
                    <span class="input-group-text" id="basic-addon1">
                      من
                    </span>
                    <input id="absentFrom" type="date" class="form-control" placeholder="Username" aria-label="Username"
                      aria-describedby="basic-addon1" />
                  </div>
                  <div class="input-group mb-3 mt-3" dir="rtl">
                    <span class="input-group-text" id="basic-addon1">
                      الي
                    </span>
                    <input id="absentTo" type="date" class="form-control" placeholder="Username" aria-label="Username"
                      aria-describedby="basic-addon1" />
                  </div>
                  <a href="#" class="btn btn-warning rounded-pill"
                    onclick='window.api.send("sendAffairsReportData", ["AbsenceRate", [document.querySelector("#absentFrom").value, document.querySelector("#absentTo").value]])'>
                    تاكيد التاريخ و الذهاب للتقرير
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a class="dropdown-item btn" href="#"
                onclick='window.api.send("sendAffairsReportData", ["TransferredStudents", []])'>
                المحذوفين
              </a>
            </li>
            <li>
              <a class="dropdown-item btn" href="#"
                onclick='window.api.send("sendAffairsReportData", ["StudentsOfColleagues", []])'>
                طﻻب العاملين
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="#"
                onclick='window.api.send("sendAffairsReportData", ["GradeCapacity", [1]])'>
                كثافة الفصول &raquo;
              </a>
              <ul class="dropdown-menu dropdown-submenu" id="Capacities"></ul>
            </li>
            <li>
              <a class="dropdown-item" href="#"> ارقام الجلوس &raquo;</a>
              <ul class="dropdown-menu dropdown-submenu" id="SeatsId"></ul>
            </li>
          </ul>
        </div>
        <div class="mx-5 nav">
          <button class="
                btn btn-warning
                mx-md-3 mx-4
                my-2
                d-inline-block
                rounded-pill
              ">
            <a class="text-decoration-none text-dark" href="./Exams.html">ارقام الجلوس</a>
          </button>
          <button class="
                btn btn-warning
                mx-md-3 mx-4
                my-2
                d-inline-block
                rounded-pill
              " onclick='window.api.send("getEssentialData", "affairsHome");'>
            الرئيسية
          </button>
          <div class="nav">
            <button onclick='window.api.send("getEssentialData", "affairsSettings");' class="
                  btn btn-warning
                  mx-md-3 mx-4
                  my-2
                  d-inline-block
                  rounded-pill
                ">
              <a class="text-decoration-none text-dark">اعدادات الشؤون</a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!--end of navbar-->

  <!--start of side bar-->
  <aside>
    <div class="offcanvas offcanvas-start container sidebar-nav me-auto" data-bs-scroll="true" data-bs-backdrop="false"
      tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel">
      <div class="offcanvas-header justify-content-center">
        <button type="button" class="btn-close btn-close-white d-md-none me-auto text-reset" data-bs-dismiss="offcanvas"
          aria-label="Close"></button>
      </div>
      <div class="offcanvas-body justify-content-center" dir="rtl">
        <ul class="nav nav-pills" id="pills-tab" role="tablist"></ul>
        <div class="tab-content mt-2" id="pills-tabContent"></div>
      </div>
    </div>
  </aside>
  <!--end of side bar-->

  <!--register section-->
  <main class="mt-5 pt-3 tab-content" id="register">
    <ul class="nav nav-pills mb-3 bg-dark justify-content-center" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="btn btn-success mt-1 rounded-pill" onclick="addNewStudentRequest()" type="button">
          تسجيل البيانات
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#dad" type="button"
          role="tab" aria-controls="pills-contact" aria-selected="false">
          بيانات اﻻب
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#mum" type="button"
          role="tab" aria-controls="pills-contact" aria-selected="false">
          بيانات اﻻم
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#caretaker" type="button"
          role="tab" aria-controls="pills-contact" aria-selected="false">
          بيانات ولي الامر
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#stud-data"
          type="button" role="tab" aria-controls="pills-home" aria-selected="true">
          بيانات الطالب
        </button>
      </li>
    </ul>

    <section id="stud-data" class="container tab-pane fade show active" role="tabpanel"
      aria-labelledby="v-pills-home-tab" dir="rtl">
      <h1 class="text-center py-4">بيانات الطالب</h1>

      <div class="row my-3" dir="rtl">
        <div class="col-md-6 col-12">
          <div class="input-group input-group col-md-6 col-12">
            <span class="input-group-text" id="inputGroup-sizing">الاسم :</span>
            <input type="text" class="form-control" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-sm" id="StudentName" />
          </div>
        </div>
        <div class="col-md-6 col-12">
          <div class="input-group input-group mb-2 col-md-6 col-12">
            <span class="input-group-text" id="inputGroup-sizing">الرقم القومي :</span>
            <input type="number" class="form-control" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-sm" id="StudentNationalId" />
          </div>
        </div>
      </div>
      <div class="row my-3" dir="rtl">
        <div class="input-group input-group mb-2 col">
          <span class="input-group-text" id="inputGroup-sizing">رقم الباسبورت:</span>
          <input type="number" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-sm" id="StudentPassportId" />
        </div>
      </div>

      <div class="row my-3" dir="rtl">
        <div class="col-12">
          <div class="input-group input-group mb-2 col">
            <span class="input-group-text" id="inputGroup-sizing">تاريخ الميلاد:</span>
            <input type="date" class="form-control" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-sm" id="StudentBirthDate" />
          </div>
        </div>
      </div>

      <div class="row my-3" dir="rtl">
        <div class="input-group input-group mb-2 col">
          <span class="input-group-text" id="inputGroup-sizing">تاريخ التسجيل:</span>
          <input type="date" id="StudentRegisterDate" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-sm" />
        </div>
      </div>

      <div class="row my-3" dir="rtl">
        <div class="input-group input-group mb-2 col">
          <span class="input-group-text" id="inputGroup-sizing">العنوان بالكامل :</span>
          <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-sm" id="StudentAddress" />
        </div>
      </div>

      <div class="row my-3" dir="rtl">
        <div class="col-6 mb-2">
          <select class="form-select" id="StudentSex" aria-label="Default select example">
            <option selected>النوع</option>
            <option value="MALE">ذكر</option>
            <option value="FEMALE">انثي</option>
          </select>
        </div>

        <div class="col-6 mb-2">
          <select class="form-select" id="StudentNationalities" aria-label="Default select example"></select>
        </div>
      </div>

      <div class="row my-3" dir="rtl">
        <div class="col-md-6 col-12">
          <div class="input-group input-group mb-2 col">
            <span class="input-group-text" id="inputGroup-sizing">الترتيب بين الاخوه:</span>
            <input type="number" class="form-control" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-sm" id="StudentSiblingOrder" />
          </div>
        </div>
      </div>
      <div class="row my-3" dir="rtl">
        <div class="input-group input-group mb-2 col">
          <span class="input-group-text" id="inputGroup-sizing">الحاله الصحيه:</span>
          <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-sm" id="StudentHealth" />
        </div>
      </div>
      <div class="row mb-2" dir="rtl">
        <!-- StudentFamilyStatus -->
        <div class="input-group input-group mb-2 col">
          <span class="input-group-text" id="inputGroup-sizing">الحاله الصحيه:</span>
          <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-sm" id="StudentFamilyStatus" />
        </div>
      </div>

      <div class="row my-3" dir="rtl">
        <div class="col-md-4 col-12">
          <select class="form-select" aria-label="Default select example" id="StageList"></select>
        </div>
        <div class="col-md-4 col-12">
          <select class="form-select" disabled aria-label="Default select example" id="GradeList"></select>
        </div>
        <div class="col-md-4 col-12">
          <select class="form-select" disabled aria-label="Default select example" id="ClassList"></select>
        </div>
      </div>
    </section>

    <!--dad section-->
    <section id="dad" class="container tab-pane fade show" role="tabpanel" dir="rtl">
      <h1 class="text-center py-4">بيانات الاب</h1>

      <div class="container row">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="DeadDadTrigger" />
          <label class="form-check-label h5" for="flexSwitchCheckDefault">متوفي</label>
        </div>
      </div>

      <div id="dadData">
        <div class="row my-3" dir="rtl">
          <div class="col-md-6 col-12">
            <div class="input-group input-group mb-2 col-md-6 col-12">
              <span class="input-group-text" id="inputGroup-sizing">الاسم :</span>
              <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" id="DadName" />
            </div>
          </div>
          <div class="col-md-6 col-12">
            <div class="input-group input-group mb-2 col-md-6 col-12">
              <span class="input-group-text" id="inputGroup-sizing">الرقم القومي :</span>
              <input type="number" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" id="DadNationalId" />
            </div>
          </div>
        </div>
        <div class="row my-3" dir="rtl">
          <div class="input-group input-group mb-2 col">
            <span class="input-group-text" id="inputGroup-sizing">رقم الباسبورت:</span>
            <input type="number" class="form-control" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-sm" id="DadPassportId" />
          </div>
        </div>

        <div class="row my-3" dir="rtl">
          <div class="input-group input-group mb-2 col">
            <span class="input-group-text" id="inputGroup-sizing">العنوان بالكامل :</span>
            <input type="text" class="form-control" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-sm" id="DadAddress" />
          </div>
        </div>

        <div class="row my-3" dir="rtl">
          <div class="col-12">
            <div class="input-group input-group mb-2 col-md-6 col-12">
              <select id="DadAcademicDegree" class="form-select" aria-label="Default select example">
                <option value="0" selected>شهاده الاب</option>
                <option value="تعليم عالي"> تعليم عالي</option>
                <option value="تعليم متوسط">تعليم متوسط</option>
                <option value="اعدادية">اعدادية</option>
                <option value="دبلوم">دبلوم</option>
                <option value="بدون مؤهل">بدون مؤهل</option>
              </select>
            </div>
          </div>
        </div>
        <div id="DadworkArea"></div>
        <div id="dadphoneArea" class="my-3"></div>
      </div>
    </section>

    <!--mum section-->
    <section id="mum" class="container tab-pane fade show" role="tabpanel" dir="rtl">
      <h1 class="text-center py-4">بيانات الام</h1>

      <div class="container row">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="DeadMomTrigger" />
          <label class="form-check-label h5" for="DeadMomTrigger">متوفيه</label>
        </div>
      </div>

      <div id="mumData">
        <div class="row my-3" dir="rtl">
          <div class="col-md-6 col-12">
            <div class="input-group input-group mb-2 col-md-6 col-12">
              <span class="input-group-text" id="inputGroup-sizing">الاسم :</span>
              <input type="text" id="MomName" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" />
            </div>
          </div>
          <div class="col-md-6 col-12">
            <div class="input-group input-group mb-2 col-md-6 col-12">
              <span class="input-group-text" id="inputGroup-sizing">الرقم القومي :</span>
              <input id="MomNationalId" type="number" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" />
            </div>
          </div>
        </div>

        <div class="row my-3" dir="rtl">
          <div class="input-group input-group mb-2 col">
            <span class="input-group-text" id="inputGroup-sizing">رقم الباسبورت:</span>
            <input id="MomPassportId" type="number" class="form-control" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-sm" />
          </div>
        </div>

        <div class="row my-3" dir="rtl">
          <div class="input-group input-group mb-2 col">
            <span class="input-group-text" id="inputGroup-sizing">العنوان بالكامل :</span>
            <input id="MomAddress" type="text" class="form-control" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-sm" />
          </div>
        </div>

        <div class="row my-3" dir="rtl">
          <div class="col-12">
            <div class="input-group input-group mb-2 col-12">
              <select id="MomAcademicDegree" class="form-select" aria-label="Default select example">
                <option value="0" selected>شهاده الام</option>
                <option value="تعليم عالي"> تعليم عالي</option>
                <option value="تعليم متوسط">تعليم متوسط</option>
                <option value="اعدادية">اعدادية</option>
                <option value="دبلوم">دبلوم</option>
                <option value="بدون مؤهل">بدون مؤهل</option>
              </select>
            </div>
          </div>
        </div>

        <div id="MomWorkArea"></div>
        <div id="MomPhoneArea" class="my-3"></div>
      </div>
    </section>

    <!--caretaker-->
    <section id="caretaker" class="container tab-pane fade show" role="tabpanel" dir="rtl">
      <h1 class="text-center py-4">بيانات ولي اﻻمر</h1>
      <div class="row">
        <select class="form-select" aria-label="Default select example" id="StudentResponsibleRelationSelect"
          onchange="showCareTakerData('other',this)">
          <option selected value="father">الاب</option>
          <option value="mother">اﻻم</option>
          <option value="other">غير</option>
        </select>
      </div>

      <div id="other" class="my-5" hidden>
        <div class="row my-3" dir="rtl">
          <div class="col-md-4 col-12">
            <div class="input-group input-group mb-2 col-md-6 col-12">
              <span class="input-group-text" id="inputGroup-sizing">صلة القرابة :</span>
              <input type="text" id="StudentResponsibleRelation" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" />
            </div>
          </div>
          <div class="col-md-4 col-12">
            <div class="input-group input-group mb-2 col-md-6 col-12">
              <span class="input-group-text" id="inputGroup-sizing">الاسم :</span>
              <input type="text" id="ResName" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" />
            </div>
          </div>
          <div class="col-md-4 col-12">
            <div class="input-group input-group mb-2 col-md-6 col-12">
              <span class="input-group-text" id="inputGroup-sizing">الرقم القومي :</span>
              <input type="text" id="ResNationalId" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" />
            </div>
          </div>
        </div>

        <div class="row my-3" dir="rtl">
          <div class="input-group input-group mb-2 col">
            <span class="input-group-text" id="inputGroup-sizing">رقم الباسبورت:</span>
            <input type="text" id="ResPassportId" class="form-control" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-sm" />
          </div>
        </div>
        <div class="row my-3" dir="rtl">
          <div class="input-group input-group mb-2 col">
            <span class="input-group-text" id="inputGroup-sizing">العنوان بالكامل :</span>
            <input id="ResAddress" type="text" class="form-control" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-sm" />
          </div>
        </div>

        <div class="row my-3" dir="rtl">
          <div class="col-12">
            <div class="input-group input-group mb-2 col-12">
              <select id="ResAcademicDegree" class="form-select" aria-label="Default select example">
                <option value="0" selected>شهاده ولي اﻻمر</option>
                <option value="تعليم عالي"> تعليم عالي</option>
                <option value="تعليم متوسط">تعليم متوسط</option>
                <option value="اعدادية">اعدادية</option>
                <option value="دبلوم">دبلوم</option>
                <option value="بدون مؤهل">بدون مؤهل</option>
              </select>
            </div>
          </div>
        </div>

        <div id="ResWorkArea"></div>

        <div id="ResPhoneArea" class="my-3"></div>
      </div>
    </section>
  </main>
</body>
<script>
  function addNewStudentRequest() {
    let studentData = checkStudentData();
    let fatherData = checkFatherData();
    let motherData = checkMotherData();
    let resData = checkResData();
    let errors = studentData.errors.concat(
      fatherData.errors.concat(motherData.errors).concat(resData.errors)
    );
    if (errors.length === 0) {
      window.api.send("addNewStudentRequest", {
        studentData: studentData.data,
        fatherData: fatherData.fatherData,
        motherData: motherData.motherData,
        resData: resData.ResData,
      });
    } else {
      window.api.send("ShowDialogBox", {
        messages: errors,
        type: "error",
        title: "خطأ",
      });
    }
  }
  let jobs = [];
  function removeDiv(devId) {
    document.getElementById(devId).remove();
  }
  function addWorkToDiv(divId, JobId = 1, JobAddress = "", addRemove = true) {
    let ID = Math.floor(Math.random() * (20000 - 500)) + 500;
    const dadJobArea = document.getElementById(divId);
    const wrapperDiv = document.createElement("div");
    wrapperDiv.classList.add("row", "my-3");
    wrapperDiv.setAttribute("dir", "rtl");
    wrapperDiv.setAttribute("id", "delete-" + String(ID));
    const dadWorkTitle = document.createElement("div");
    dadWorkTitle.classList.add("col-12", "col-md-4");
    const dadWorkSelect = document.createElement("select");
    dadWorkSelect.classList.add("form-select");
    dadWorkSelect.setAttribute("aria-label", "Default select example");
    jobs.forEach((j) => {
      const option = document.createElement("option");
      option.value = j.JobId;
      option.innerText = j.JobName;
      dadWorkSelect.appendChild(option);
    });
    dadWorkSelect.value = JobId;
    dadWorkTitle.appendChild(dadWorkSelect);
    wrapperDiv.appendChild(dadWorkTitle);
    const dadWorkAdress = document.createElement("div");
    dadWorkAdress.classList.add("col-12", "col-md-4");
    const dadWorkAdressInner = document.createElement("div");
    dadWorkAdressInner.classList.add(
      "input-group",
      "input-group",
      "mb-2",
      "col"
    );
    const dadWorkAdressInnerLabel = document.createElement("span");
    dadWorkAdressInnerLabel.classList.add("input-group-text");
    dadWorkAdressInnerLabel.innerText = "عنوان العمل :";
    dadWorkAdressInner.appendChild(dadWorkAdressInnerLabel);
    const dadWorkAdressInnerInput = document.createElement("input");
    dadWorkAdressInnerInput.classList.add("form-control");
    dadWorkAdressInnerInput.setAttribute("type", "text");
    dadWorkAdressInnerInput.value = JobAddress;
    dadWorkAdressInner.appendChild(dadWorkAdressInnerInput);
    dadWorkAdress.appendChild(dadWorkAdressInner);
    wrapperDiv.appendChild(dadWorkAdress);
    const addButtonDiv = document.createElement("div");
    addButtonDiv.classList.add("col-12", "col-md-4");
    const addButtonDivButton = document.createElement("button");
    addButtonDivButton.classList.add("btn", "btn-primary");
    addButtonDivButton.setAttribute(
      "onclick",
      "addWorkToDiv('" + divId + "')"
    );
    addButtonDivButton.innerText = "اضافة عمل";
    addButtonDiv.appendChild(addButtonDivButton);
    wrapperDiv.appendChild(addButtonDiv);
    if (addRemove) {
      const removeButtonDiv = document.createElement("div");
      removeButtonDiv.classList.add("col-12", "col-md-3");
      const removeButtonDivButton = document.createElement("button");
      removeButtonDivButton.classList.add("btn", "bg-danger");
      removeButtonDivButton.setAttribute(
        "onclick",
        "removeDiv('delete-" + String(ID) + "')"
      );
      const removeButtonDivButtonI = document.createElement("i");
      removeButtonDivButtonI.classList.add("bi", "bi-trash2");
      removeButtonDivButton.appendChild(removeButtonDivButtonI);
      removeButtonDiv.appendChild(removeButtonDivButton);
      wrapperDiv.appendChild(removeButtonDiv);
    }
    dadJobArea.appendChild(wrapperDiv);
  }
  function addNewPhone(devId, phone = "", addRemove = true) {
    let ID = Math.floor(Math.random() * (20000 - 500)) + 500;
    const dadPhoneArea = document.getElementById(devId);
    const wrapperDiv = document.createElement("div");
    wrapperDiv.classList.add("row", "my-3");
    wrapperDiv.setAttribute("dir", "rtl");
    wrapperDiv.setAttribute("id", "delete-" + String(ID));
    const dadPhoneHead = document.createElement("div");
    dadPhoneHead.classList.add("col-md-8", "col-12");
    const dadPhoneHeadInner = document.createElement("div");
    dadPhoneHeadInner.classList.add(
      "input-group",
      "input-group",
      "mb-2",
      "col-md-6",
      "col-12"
    );
    const dadPhoneHeadInnerLabel = document.createElement("span");
    dadPhoneHeadInnerLabel.classList.add("input-group-text");
    dadPhoneHeadInnerLabel.innerText = "رقم الهاتف :";
    dadPhoneHeadInner.appendChild(dadPhoneHeadInnerLabel);
    const dadPhoneHeadInnerInput = document.createElement("input");
    dadPhoneHeadInnerInput.classList.add("form-control");
    dadPhoneHeadInnerInput.setAttribute("type", "text");
    dadPhoneHeadInnerInput.value = phone;
    dadPhoneHeadInner.appendChild(dadPhoneHeadInnerInput);
    dadPhoneHead.appendChild(dadPhoneHeadInner);
    wrapperDiv.appendChild(dadPhoneHead);
    const addPhoneDiv = document.createElement("div");
    addPhoneDiv.classList.add("col-md-2", "col-6");
    const addPhoneDivButton = document.createElement("button");
    addPhoneDivButton.classList.add("btn", "btn-primary");
    addPhoneDivButton.innerText = "إضافة رقم جديد";
    addPhoneDivButton.setAttribute("onclick", "addNewPhone('" + devId + "')");
    addPhoneDiv.appendChild(addPhoneDivButton);
    wrapperDiv.appendChild(addPhoneDiv);
    if (addRemove) {
      const removeButtonDiv = document.createElement("div");
      removeButtonDiv.classList.add("col-12", "col-md-3");
      const removeButtonDivButton = document.createElement("button");
      removeButtonDivButton.classList.add("btn", "bg-danger");
      removeButtonDivButton.setAttribute(
        "onclick",
        "removeDiv('delete-" + String(ID) + "')"
      );
      const removeButtonDivButtonI = document.createElement("i");
      removeButtonDivButtonI.classList.add("bi", "bi-trash2");
      removeButtonDivButton.appendChild(removeButtonDivButtonI);
      removeButtonDiv.appendChild(removeButtonDivButton);
      wrapperDiv.appendChild(removeButtonDiv);
    }
    dadPhoneArea.appendChild(wrapperDiv);
  }
  function showCareTakerData(divId, element) {
    let caretaker = document.getElementById(divId);
    caretaker.hidden = element.value == "other" ? false : true;
  }
  // get essintial data like all nationalities and all jobs parent
  window.api.receive("sentEssentialData", (data) => {
    loadSideBar(data.students);
    ReportsNav(data);
    jobs = data.jobs;
    addWorkToDiv("DadworkArea", 1, "", false);
    addWorkToDiv("MomWorkArea", 1, "", false);
    addWorkToDiv("ResWorkArea", 1, "", false);
    addNewPhone("dadphoneArea", "", false);
    addNewPhone("MomPhoneArea", "", false);
    addNewPhone("ResPhoneArea", "", false);
    let nationalities = document.getElementById("StudentNationalities");
    data.nationalities.forEach((el) => {
      const option = document.createElement("option");
      option.setAttribute("value", el.NationalityId);
      option.innerText = el.NationalityName;
      nationalities.appendChild(option);
    });
    // stages
    const StageList = document.getElementById("StageList");
    const GradeList = document.getElementById("GradeList");
    const ClassList = document.getElementById("ClassList");
    console.log(data.stagesData);
    //console.log(StageList);
    data.stagesData2.forEach((stage) => {
      const option = document.createElement("option");
      option.setAttribute("value", stage.StageId);
      option.innerText = stage.StageName;
      StageList.appendChild(option);
    });

    StageList.addEventListener("change", function () {
      let StageId = this.value;
      data.stagesData2.forEach((stage) => {
        if (stage.StageId == StageId) {
          // remover all elements in grade list
          const GradeList = document.getElementById("GradeList");
          for (let i = GradeList.length - 1; i >= 0; i--) {
            GradeList.remove(i);
          }
          const header = document.createElement("option");
          header.selected = true;
          header.innerText = "السنة الدراسية";
          GradeList.appendChild(header);
          // fill Grades
          let Grades = stage.Grades;
          Grades.forEach((grade) => {
            const option = document.createElement("option");
            option.setAttribute("value", grade.GradeId);
            option.innerText = grade.GradeName;
            GradeList.appendChild(option);
          });
          GradeList.disabled = false;
        }
      });
    });
    GradeList.addEventListener("change", function (ev) {
      let StageId = document.getElementById("StageList").value;
      let GradeId = this.value;
      data.stagesData2.forEach((stage) => {
        if (stage.StageId == StageId) {
          stage.Grades.forEach((grade) => {
            if (grade.GradeId == GradeId) {
              // remover all elements in class list
              const ClassList = document.getElementById("ClassList");
              for (let i = GradeList.length - 1; i >= 0; i--) {
                ClassList.remove(i);
              }
              // fill Grades
              let Classes = grade.Classes;
              let counts = 1;
              Classes.forEach((clas) => {
                const option = document.createElement("option");
                option.setAttribute("value", clas.ClassId);
                option.innerText = clas.ClassName;
                counts++;
                ClassList.appendChild(option);
              });
              ClassList.disabled = false;
            }
          });
        }
      });
    });
  });
  window.api.send("ScriptLoaded", null);
</script>
<script src="../views/js/loadSideBar.js"></script>
<script src="../views/js/ReportsNav.js"></script>
<script src="../views/js/fieldsValidation.js"></script>
<script src="../../node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="./js/main.js"></script>

</html>