<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>اعدادات شؤون الطلاب</title>
  <link rel="stylesheet" href="../../node_modules/datatables.net-dt/css/jquery.dataTables.css" />
  <link rel="stylesheet" href="./scss/affairs.css" />
  <link rel="stylesheet" href="../../node_modules/bootstrap-icons/font/bootstrap-icons.css" />
  <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
  <!--start of navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark" dir="rtl">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">معهد الوفاء</a>
      <button class="navbar-toggler rounded-pill text-warning me-auto" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#sidebar" aria-controls="sidebar">
        <i class="bi bi-arrow-right-circle"></i>
      </button>
      <button class="navbar-toggler me-auto" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="mx-5 nav">
          <button class="
                btn btn-warning
                mx-md-3 mx-4
                my-2
                d-inline-block
                rounded-pill
              " onclick='window.api.send("getEssentialData", "affairsHome");'>
            الرئيسية
          </button>
        </div>
      </div>
    </div>
  </nav>
  <!--end of navbar-->

  <main dir="rtl" class="mx-5 mt-2 mb-5" id="Expenses-general">
    <section id="newClass" class="my-5 py-3">
      <h1 class="text-center py-4 border-2 border-bottom border-dark">
        اضافه فصل جديد
      </h1>
      <div class="row gx-5 mt-5" dir="rtl">
        <div class="col-8">
          <select id="GradesSelect" class="form-select" aria-label="Default select example"></select>
        </div>
        <div class="col-4">
          <button onclick="addNewClass()" class="btn w-50 btn-primary">
            اضافه فصل جديد
          </button>
        </div>
      </div>
    </section>
    <section id="newJob" class="my-5 py-3">
      <h1 class="text-center py-4 border-2 border-bottom border-dark">
        اضافه وظيفه جديد
      </h1>
      <div class="row gx-5 mt-5" dir="rtl">
        <div class="col-8">
          <div class="input-group mb-3">
            <span class="input-group-text rounded-pill mx-2" id="inputGroup-sizing-default">
              اسم الوظيفه
            </span>
            <input id="NewParentJob" type="text" class="rounded-pill form-control" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-default" />
          </div>
        </div>
        <div class="col-4">
          <button onclick="addNewParentJob()" class="btn w-50 btn-primary">
            اضف وظيفه جديد
          </button>
        </div>
      </div>
    </section>
    <section id="newAbsenceType" class="my-5 py-3">
      <h1 class="text-center py-4 border-2 border-bottom border-dark">
        اضافه نوع غياب جديد
      </h1>
      <div class="row gx-5 mt-5" dir="rtl">
        <div class="col-8">
          <div class="input-group mb-3">
            <span class="input-group-text rounded-pill mx-2" id="inputGroup-sizing-default">
              نوع الغياب
            </span>
            <input id="newAbsentType" type="text" class="rounded-pill form-control" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-default" />
          </div>
        </div>
        <div class="col-4">
          <button onclick="addAbsentType()" class="btn w-50 btn-primary">
            اضف نوع غياب جديد
          </button>
        </div>
      </div>
    </section>
  </main>
  <script>
    window.api.receive("sentEssentialData", ([grades, data]) => {
      const GradesSelect = document.getElementById("GradesSelect");
      grades.forEach((grade) => {
        const option = document.createElement("option");
        option.setAttribute("value", grade[0]);
        option.innerText = grade[1];
        GradesSelect.appendChild(option);
      });
    });
    function addNewClass() {
      const GradeId = document.getElementById("GradesSelect").value;
      if (GradeId) {
        window.api.send("addNewClass", GradeId);
      } else {
        window.api.send("ShowDialogBox", {
          messages: ["من فضلك اختر الصف"],
          type: "error",
          title: "خطأ",
        });
      }
    }
    function addNewParentJob() {
      const NewParentJob = document.getElementById("NewParentJob").value;
      if (NewParentJob.length === 0) {
        window.api.send("ShowDialogBox", {
          messages: ["من فضلك ادخل اسم الوظيفه"],
          type: "error",
          title: "خطأ",
        });
      } else {
        window.api.send("addNewParentJob", NewParentJob);
      }
    }
    function addAbsentType() {
      const newAbsentType = document.getElementById("newAbsentType").value;
      if (newAbsentType.length === 0) {
        window.api.send("ShowDialogBox", {
          messages: ["من فضلك ادخل نوع الغياب"],
          type: "error",
          title: "خطأ",
        });
      } else {
        window.api.send("addAbsentType", newAbsentType);
      }
    }
    window.api.send("ScriptLoaded", null);
  </script>
  <script src="./js/ReportsNav.js"></script>
  <script src="../../node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
  <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
  <script src="../../node_modules/datatables.net/js/jquery.dataTables.js"></script>
  <script src="./js/main.js"></script>
  <script>
    $(document).ready(function () {
      $("#mytable").DataTable({
        searching: true,
        ordering: true,
      });
    });
  </script>
</body>

</html>