<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="../../node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="./scss/affairs.css" />
    <link
      rel="stylesheet"
      href="../../node_modules/bootstrap-icons/font/bootstrap-icons.css"
    />
    <title>شؤون الطلاب</title>
  </head>

  <body>
    <!--start of navbar-->
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark" dir="rtl">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">معهد الوفاء</a>
        <button
          class="navbar-toggler rounded-pill text-warning me-auto"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#sidebar"
          aria-controls="sidebar"
        >
          <i class="bi bi-arrow-right-circle"></i>
        </button>
        <button
          class="navbar-toggler me-auto"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form class="d-flex me-auto mt-3 mt-md-0">
            <input
              class="text-center form-control mx-3 rounded-pill"
              type="search"
              placeholder="ابحث"
              aria-label="Search"
            />
            <button
              class="btn btn-outline-warning rounded-circle"
              type="submit"
            >
              <i class="bi bi-search"></i>
            </button>
          </form>
          <div class="dropdown mx-5" >
            <button class="btn  btn-warning rounded-pill dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                التقارير
            </button>
            <ul class="dropdown-menu"  aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item btn"  href="#">  نسبه  الغياب&raquo;</a>
                <ul class="dropdown-menu dropdown-submenu">
                  <li class="mx-1">
                    <div class="input-group mb-3 mt-3" dir="rtl">
                      <span class="input-group-text" id="basic-addon1"> من </span>
                      <input type="date" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3 mt-3" dir="rtl">
                      <span class="input-group-text" id="basic-addon1"> الي </span>
                      <input type="date" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                     <a href="#" class="btn btn-warning rounded-pill"> تاكيد التاريخ و الذهاب للتقرير </a>
                  </li>
                </ul>
              </li>
              <li><a class="dropdown-item btn"  href="#"> المحذوفين </a>
              </li>
              <li><a class="dropdown-item btn"  href="#"> طﻻب العاملين </a>
              </li>
              <li><a class="dropdown-item btn"  href="#"> Class, Stage, Grade cap </a>
              </li>
              <li><a class="dropdown-item btn"  href="#"> غياب الطالب </a>
              </li>
              <li><a class="dropdown-item "  href="#"> ارقام الجلوس &raquo;</a>
                <ul class="dropdown-menu dropdown-submenu">
                  <li>
                    <a class="dropdown-item" href="#"> ابتدائى &raquo; </a>
                    <ul class="dropdown-menu dropdown-submenu">
                      <li>
                        <a class="dropdown-item btn" href="#"> الصف الاول الابتدائي </a>
                      </li>
                      <li>
                        <a class="dropdown-item btn" href="#"> الصف الثانى الابتدائي</a>
                      </li>
                      <li>
                        <a class="dropdown-item btn" href="#"> الصف الثالث الابتدائي</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#"> الصف الرابع الابتدائي</a>
                      </li>
                      <li>
                        <a class="dropdown-item btn" href="#"> الصف الخامس الابتدائي</a>
                      </li>
                      <li>
                        <a class="dropdown-item btn" href="#"> الصف السادس الابتدائي</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#"> اعدادي &raquo; </a>
                    <ul class="dropdown-menu dropdown-submenu">
                      <li>
                        <a class="dropdown-item btn" href="#">  الصف الاول الاعدادي </a>
                      </li>
                      <li>
                        <a class="dropdown-item btn" href="#">الصف الثانى الاعدادي</a>
                      </li>
                      <li>
                        <a class="dropdown-item btn" href="#">الصف الثالث الاعدادي</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#"> ثانوي &raquo; </a>
                    <ul class="dropdown-menu dropdown-submenu">
                      <li>
                        <a class="dropdown-item btn" href="#">  الصف الاول الثانوي </a>
                      </li>
                      <li>
                        <a class="dropdown-item btn" href="#">الصف الثانى الثانوي</a>
                      </li>
                      <li>
                        <a class="dropdown-item btn" href="#">الصف الثالث الثانوي</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="mx-5 nav">
            <!-- <button
              class="
                btn btn-warning
                mx-md-3 mx-4
                my-2
                d-inline-block
                rounded-pill
              "
            >
              <a class="text-decoration-none text-dark" href="#">التقارير</a>
            </button> -->
            <button
              class="
                btn btn-warning
                mx-md-3 mx-4
                my-2
                d-inline-block
                rounded-pill
              "
            >
              <a class="text-decoration-none text-dark" href="./Exams.html"
                >ارقام الجلوس</a
              >
            </button>
            <button
              class="
                btn btn-warning
                mx-md-3 mx-4
                my-2
                d-inline-block
                rounded-pill
              "
              type="button"
              onclick='window.api.send("getEssentialData", "addStudent");'
            >
              تسجيل طالب جديد
            </button>
            <div class="nav">
              <button
                onclick='window.api.send("getEssentialData", "affairsSettings");'
                class="
                  btn btn-warning
                  mx-md-3 mx-4
                  my-2
                  d-inline-block
                  rounded-pill
                "
              >
                <a class="text-decoration-none text-dark">اعدادات الشؤون</a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!--end of navbar-->

    <!--start of side bar-->
    <aside>
      <div
        class="offcanvas offcanvas-start container sidebar-nav me-auto"
        data-bs-scroll="true"
        data-bs-backdrop="false"
        tabindex="-1"
        id="sidebar"
        aria-labelledby="sidebarLabel"
      >
        <div class="offcanvas-header justify-content-center">
          <button
            type="button"
            class="btn-close btn-close-white d-md-none me-auto text-reset"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div id="" class="offcanvas-body justify-content-center" dir="rtl">
          <ul class="nav nav-pills" id="pills-tab" role="tablist"></ul>
          <div class="tab-content mt-2" id="pills-tabContent"></div>
        </div>
      </div>
    </aside>
    <!--end of side bar-->
    <!--register section-->
    <main class="mt-5 pt-3 tab-content" id="register"></main>
    <script>
      window.api.receive("getStudentDataFromMain",data => {
        console.log("received");
      });
      window.api.receive("sentEssentialData", (students) => {
        loadSideBar(students);
      });
      window.api.send("ScriptLoaded");
    </script>
    <script src="../views/js/loadSideBar.js"></script>
    <script src="../../node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./js/main.js"></script>
  </body>
</html>
