<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="../../node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="../../node_modules/bootstrap-icons/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="./scss/affairs.css" />
    <title>شؤون الطلاب</title>
  </head>
  <body>
    <!--start of navbar-->
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark" dir="rtl">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">معهد الوفاء</a>
        <button
          class="navbar-toggler rounded-pill text-warning me-auto"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#sidebar"
          aria-controls="sidebar"
        >
          <i class="bi bi-arrow-right-circle"></i>
        </button>
        <button
          class="navbar-toggler me-auto"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form class="d-flex me-auto mt-3 mt-md-0">
            <input
              class="text-center form-control mx-3 rounded-pill"
              type="search"
              placeholder="ابحث"
              aria-label="Search"
            />
            <button
              class="btn btn-outline-warning rounded-circle"
              type="submit"
            >
              <i class="bi bi-search"></i>
            </button>
          </form>
          <div class="mx-5">
            <button
              class="
                btn btn-warning
                mx-md-3 mx-4
                my-2
                d-inline-block
                rounded-pill
              "
            >
              <a class="text-decoration-none text-dark" href="#">التقارير</a>
            </button>
            <button class="d-inline-block btn btn-warning rounded-pill mx-md-3">
              <a class="text-decoration-none text-dark" href="./Exams.html"
                >ارقام الجلوس</a
              >
            </button>
          </div>
        </div>
      </div>
    </nav>
    <!--end of navbar-->
    <!--start of side bar-->
    <section>
      <div
        class="offcanvas offcanvas-start container sidebar-nav me-auto"
        data-bs-scroll="true"
        data-bs-backdrop="false"
        tabindex="-1"
        id="sidebar"
        aria-labelledby="sidebarLabel"
      >
        <div class="offcanvas-header justify-content-center">
          <button
            type="button"
            class="btn-close btn-close-white d-md-none me-auto text-reset"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body justify-content-center" dir="rtl">
          <ul class="nav nav-pills" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                id="pills-home-tab"
                data-bs-toggle="pill"
                data-bs-target="#prim"
                type="button"
                role="tab"
                aria-controls="pills-home"
                aria-selected="true"
              >
                ابتدائى
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="pills-profile-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-profile"
                type="button"
                role="tab"
                aria-controls="pills-profile"
                aria-selected="false"
              >
                اعدادي
              </button>
            </li>
          </ul>
          <div class="tab-content mt-2" id="pills-tabContent">
            <div
              class="tab-pane fade show active text-warning"
              id="prim"
              role="tabpanel"
              aria-labelledby="pills-home-tab"
            >
              <!--prim accordion starts here-->
              <div class="accordion accordion-flush" id="accordionFlushmid">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#prim-1"
                      aria-expanded="false"
                      aria-controls="flush-collapseOne"
                    >
                      الصف الاول الابتدائي
                    </button>
                  </h2>
                  <div
                    id="prim-1"
                    class="accordion-collapse collapse"
                    aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample"
                  >
                    <div class="accordion-body text-center">
                      <ul class="list-group" id="stud-list">
                        <li class="list-group-item">
                          <a href="#" class="text-decoration-none"
                            >احمد عطيه سليمان الهادي</a
                          >
                        </li>
                        <li class="list-group-item">
                          <a href="#" class="text-decoration-none">lasdgjs</a>
                        </li>
                        <li class="list-group-item">
                          <a href="#" class="text-decoration-none">ahmed</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingTwo">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#prim-2"
                      aria-expanded="false"
                      aria-controls="flush-collapseTwo"
                    >
                      الصف الثانى الابتدائي
                    </button>
                  </h2>
                  <div
                    id="prim-2"
                    class="accordion-collapse collapse"
                    aria-labelledby="flush-headingTwo"
                    data-bs-parent="#accordionFlushExample"
                  >
                    <div class="accordion-body text-center">
                      Placeholder content for this accordion, which is intended
                      to demonstrate the <code>.accordion-flush</code> class.
                      This is the first item's accordion body.
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingThree">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#prim-3"
                      aria-expanded="false"
                      aria-controls="flush-collapseThree"
                    >
                      الصف الثالث الابتدائي
                    </button>
                  </h2>
                  <div
                    id="prim-3"
                    class="accordion-collapse collapse"
                    aria-labelledby="flush-headingThree"
                    data-bs-parent="#accordionFlushExample"
                  >
                    <div class="accordion-body text-center">
                      Placeholder content for this accordion, which is intended
                      to demonstrate the <code>.accordion-flush</code> class.
                      This is the first item's accordion body.
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingfour">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#prim-4"
                      aria-expanded="false"
                      aria-controls="flush-collapsefour"
                    >
                      الصف الرابع الابتدائي
                    </button>
                  </h2>
                  <div
                    id="prim-4"
                    class="accordion-collapse collapse"
                    aria-labelledby="flush-headingfour"
                    data-bs-parent="#accordionFlushExample"
                  >
                    <div class="accordion-body text-center">
                      Placeholder content for this accordion, which is intended
                      to demonstrate the <code>.accordion-flush</code> class.
                      This is the first item's accordion body.
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingfive">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#prim-5"
                      aria-expanded="false"
                      aria-controls="flush-collapsefive"
                    >
                      الصف الخامس البتدائي
                    </button>
                  </h2>
                  <div
                    id="prim-5"
                    class="accordion-collapse collapse"
                    aria-labelledby="flush-headingfour"
                    data-bs-parent="#accordionFlushExample"
                  >
                    <div class="accordion-body text-center">
                      Placeholder content for this accordion, which is intended
                      to demonstrate the <code>.accordion-flush</code> class.
                      This is the first item's accordion body.
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingsix">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#prim-6"
                      aria-expanded="false"
                      aria-controls="flush-collapsesix"
                    >
                      الصف السادس البتدائي
                    </button>
                  </h2>
                  <div
                    id="prim-6"
                    class="accordion-collapse collapse"
                    aria-labelledby="flush-headingfour"
                    data-bs-parent="#accordionFlushExample"
                  >
                    <div class="accordion-body text-center">
                      Placeholder content for this accordion, which is intended
                      to demonstrate the <code>.accordion-flush</code> class.
                      This is the first item's accordion body.
                    </div>
                  </div>
                </div>
              </div>
              <!--prim accordion ends here-->
            </div>
            <div
              class="tab-pane fade text-break text-warning"
              id="pills-profile"
              role="tabpanel"
              aria-labelledby="pills-profile-tab"
            >
              <!--mid accordion-->
              <div class="accordion accordion-flush" id="accordionFlushmid">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#mid-1"
                      aria-expanded="false"
                      aria-controls="flush-collapseOne"
                    >
                      الصف الاول الاعدادي
                    </button>
                  </h2>
                  <div
                    id="mid-1"
                    class="accordion-collapse collapse"
                    aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample"
                  >
                    <div class="accordion-body text-center">
                      Placeholder content for this accordion, which is intended
                      to demonstrate the <code>.accordion-flush</code> class.
                      This is the first item's accordion body.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingtwo">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#mid-2"
                      aria-expanded="false"
                      aria-controls="flush-collapsetwo"
                    >
                      الصف الثاني الاعدادي
                    </button>
                  </h2>
                  <div
                    id="mid-2"
                    class="accordion-collapse collapse"
                    aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample"
                  >
                    <div class="accordion-body text-center">
                      Placeholder content for this accordion, which is intended
                      to demonstrate the <code>.accordion-flush</code> class.
                      This is the first item's accordion body.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingthree">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#mid-3"
                      aria-expanded="false"
                      aria-controls="flush-collapsetwo"
                    >
                      الصف الثالث الاعدادي
                    </button>
                  </h2>
                  <div
                    id="mid-3"
                    class="accordion-collapse collapse"
                    aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample"
                  >
                    <div class="accordion-body text-center">
                      Placeholder content for this accordion, which is intended
                      to demonstrate the <code>.accordion-flush</code> class.
                      This is the first item's accordion body.
                    </div>
                  </div>
                </div>
              </div>
              <!--mid accordion-->
            </div>
          </div>
          <div
            class="nav nav-pills me-3"
            dir="rtl"
            id="v-pills-tab"
            role="tablist"
          >
            <button
              class="nav-link active btn btn-success text-center my-2"
              id="v-pills-home-tab"
              data-bs-toggle="pill"
              data-bs-target="#stud-data"
              type="button"
              role="tab"
              aria-controls="v-pills-home"
              aria-selected="true"
            >
              تسجيل طالب جديد
            </button>
            <button
              class="nav-link btn btn-success text-center my-2"
              id="v-pills-profile-tab"
              data-bs-toggle="pill"
              data-bs-target="#dad"
              type="button"
              role="tab"
              aria-controls="v-pills-profile"
              aria-selected="false"
            >
              بيانات الاب
            </button>
            <button
              class="nav-link btn btn-success text-center my-2"
              id="v-pills-messages-tab"
              data-bs-toggle="pill"
              data-bs-target="#mum"
              type="button"
              role="tab"
              aria-controls="v-pills-messages"
              aria-selected="false"
            >
              بيانات الام
            </button>
            <button
              class="nav-link btn btn-success text-center my-2"
              id="v-pills-settings-tab"
              data-bs-toggle="pill"
              data-bs-target="#sibling"
              type="button"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
            >
              بيانات الاخوه
            </button>
            <button
              class="nav-link btn btn-success text-center my-2"
              data-bs-toggle="pill"
              data-bs-target="#absence"
              type="button"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
            >
              الغياب
            </button>
            <button
              class="nav-link btn btn-success text-center my-2"
              id="v-pills-settings-tab"
              data-bs-toggle="pill"
              data-bs-target="#stud-installment"
              type="button"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
            >
              الاقساط الخاصه بالطالب
            </button>
          </div>
        </div>
      </div>
    </section>
    <!--end of side bar-->
    <!--register section-->
    <main class="mt-5 pt-3 tab-content" id="register">
      <section
        id="stud-data"
        class="container tab-pane fade show active"
        role="tabpanel"
      >
        <h1 class="text-center py-4">بيانات الطالب</h1>

        <div class="row my-3" dir="rtl">
          <div class="col-md-6 col-12">
            <div class="input-group input-group col-md-6 col-12">
              <span class="input-group-text" id="inputGroup-sizing"
                >الاسم :</span
              >
              <input
                type="text"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm"
              />
            </div>
          </div>
          <div class="col-md-6 col-12">
            <div class="input-group input-group mb-2 col-md-6 col-12">
              <span class="input-group-text" id="inputGroup-sizing"
                >الرقم القومي :</span
              >
              <input
                type="number"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm"
              />
            </div>
          </div>
        </div>

        <div class="row my-3" dir="rtl">
          <div class="col-md-6 col-12">
            <div class="input-group input-group mb-2 col">
              <span class="input-group-text" id="inputGroup-sizing"
                >تاريخ الميلاد:</span
              >
              <input
                type="date"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm"
              />
            </div>
          </div>
          <div class="col-md-6 col-12">
            <select class="form-select" aria-label="Default select example">
              <option selected>محافظه السكن</option>
              <option value="1">القاهره</option>
              <option value="2">الجيزه</option>
              <option value="3">الدقهليه</option>
              <option value="4">طنطا</option>
              <option value="5">القليوبيه</option>
              <option value="6">الإسماعيلية</option>
              <option value="7">اسوان</option>
              <option value="8">اسيوط</option>
              <option value="9">الاقصر</option>
              <option value="10">البحر الاحمر</option>
              <option value="11">البحيره</option>
              <option value="12">بني سويف</option>
              <option value="13">بورسعيد</option>
              <option value="14">جنوب سيناء</option>
              <option value="15">شمال سيناء</option>
              <option value="16">الفيوم</option>
              <option value="17">دمياط</option>
              <option value="18">سوهاج</option>
              <option value="19">السويس</option>
              <option value="20">الشرقيه</option>
              <option value="21">الغربيه</option>
              <option value="22">قنا</option>
              <option value="23">كفر الشيخ</option>
              <option value="24">مطروح</option>
              <option value="25">المنوفيه</option>
              <option value="26">المنيا</option>
              <option value="27">الوادي الجديد</option>
            </select>
          </div>
        </div>
        <div class="row my-3" dir="rtl">
          <div class="input-group input-group mb-2 col">
            <span class="input-group-text" id="inputGroup-sizing"
              >العنوان بالكامل :</span
            >
            <input
              type="text"
              class="form-control"
              aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-sm"
            />
          </div>
        </div>

        <div class="row my-3" dir="rtl">
          <div class="col-6 mb-2">
            <select class="form-select" aria-label="Default select example">
              <option selected>النوع</option>
              <option value="1">ذكر</option>
              <option value="2">انثي</option>
            </select>
          </div>

          <div class="col-6 mb-2">
            <select class="form-select" aria-label="Default select example">
              <option selected>الجنسيه</option>
              <option value="1">مصر</option>
              <option value="2">سوريا</option>
              <option value="2">اليمن</option>
            </select>
          </div>
        </div>

        <div class="row my-3" dir="rtl">
          <div class="col-md-6 col-12">
            <div class="input-group input-group mb-2 col">
              <span class="input-group-text" id="inputGroup-sizing"
                >الترتيب بين الاخوه:</span
              >
              <input
                type="number"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm"
              />
            </div>
          </div>
          <div class="col-md-6 col-12">
            <select class="form-select" aria-label="Default select example">
              <option selected>ولي الامر</option>
              <option value="1">الاب</option>
              <option value="2">الام</option>
            </select>
          </div>
        </div>
        <div class="row my-3" dir="rtl">
          <div class="input-group input-group mb-2 col">
            <span class="input-group-text" id="inputGroup-sizing"
              >الحاله الصحيه:</span
            >
            <input
              type="text"
              class="form-control"
              aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-sm"
            />
          </div>
        </div>
        <div class="row mb-2" dir="rtl">
          <div class="col">
            <select class="form-select" aria-label="Default select example">
              <option selected>الحاله العائليه</option>
              <option value="1">...</option>
              <option value="2">...</option>
            </select>
          </div>
        </div>

        <div class="row my-3" dir="rtl">
          <div class="col-md-4 col-12">
            <select class="form-select" aria-label="Default select example">
              <option selected>المرحله الدراسيه</option>
              <option value="1">ابتدائى</option>
              <option value="2">اعدادي</option>
              <option value="3">ثانوي</option>
            </select>
          </div>
          <div class="col-md-4 col-12">
            <select class="form-select" aria-label="Default select example">
              <option selected>السنه</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>
          <div class="col-md-4 col-12">
            <select class="form-select" aria-label="Default select example">
              <option selected>الفصل</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>
        </div>
        <div class="d-flex" dir="rtl">
          <div class="col-12 my-5 text-center">
            <button type="submit" class="rounded-pill btn btn-success w-50">
              تسجيل
            </button>
          </div>
        </div>
      </section>

      <!--dad section-->
      <section id="dad" class="container my-5 tab-pane fade">
        <h1 class="text-center py-4">بيانات الاب</h1>

        <div class="row my-3" dir="rtl">
          <div class="col-md-6 col-12">
            <div class="input-group input-group mb-2 col-md-6 col-12">
              <span class="input-group-text" id="inputGroup-sizing"
                >الاسم :</span
              >
              <input
                type="text"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm"
              />
            </div>
          </div>
          <div class="col-md-6 col-12">
            <div class="input-group input-group mb-2 col-md-6 col-12">
              <span class="input-group-text" id="inputGroup-sizing"
                >الرقم القومي :</span
              >
              <input
                type="number"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm"
              />
            </div>
          </div>
        </div>

        <div class="row my-3" dir="rtl">
          <div class="input-group input-group mb-2 col">
            <span class="input-group-text" id="inputGroup-sizing"
              >العنوان بالكامل :</span
            >
            <input
              type="text"
              class="form-control"
              aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-sm"
            />
          </div>
        </div>

        <div class="row my-3" dir="rtl">
          <div class="col-md-6 col-12">
            <div class="input-group input-group mb-2 col-md-6 col-12">
              <span class="input-group-text" id="inputGroup-sizing"
                >ِشهاده الاب :</span
              >
              <input
                type="text"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm"
              />
            </div>
          </div>
          <div class="col-md-6 col-12">
            <select class="form-select" aria-label="Default select example">
              <option selected>عمل الاب</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>
        </div>

        <div class="row my-3" dir="rtl">
          <div class="col-md-6 col-12">
            <select class="form-select" aria-label="Default select example">
              <option selected>يعمل بالمدرسه</option>
              <option value="1">نعم</option>
              <option value="2">لا</option>
            </select>
          </div>
          <div class="col-md-6 col-12">
            <div class="input-group input-group mb-2 col">
              <span class="input-group-text" id="inputGroup-sizing"
                >عنوان العمل :</span
              >
              <input
                type="text"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm"
              />
            </div>
          </div>
        </div>

        <div class="row my-3" dir="rtl">
          <div class="col-md-8 col-12">
            <div class="input-group input-group mb-2 col-md-6 col-12">
              <span class="input-group-text" id="inputGroup-sizing"
                >رقم الهاتف :</span
              >
              <input
                type="number"
                id="phone"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm"
              />
            </div>
          </div>
          <div class="col-md-2 col-6">
            <button class="btn btn-primary" onclick="addPhone()">
              اضافه رقم اخر
            </button>
          </div>
        </div>

        <div id="dadphone" class="my-3"></div>
        <div class="d-flex" dir="rtl">
          <div class="col-12 my-5 text-center">
            <button type="submit" class="rounded-pill btn btn-success w-50">
              تسجيل
            </button>
          </div>
        </div>
      </section>

      <!--mum section-->
      <section id="mum" class="container my-5 tab-pane fade">
        <h1 class="text-center py-4">بيانات الام</h1>

        <div class="row my-3" dir="rtl">
          <div class="col-md-6 col-12">
            <div class="input-group input-group mb-2 col-md-6 col-12">
              <span class="input-group-text" id="inputGroup-sizing"
                >الاسم :</span
              >
              <input
                type="text"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm"
              />
            </div>
          </div>
          <div class="col-md-6 col-12">
            <div class="input-group input-group mb-2 col-md-6 col-12">
              <span class="input-group-text" id="inputGroup-sizing"
                >الرقم القومي :</span
              >
              <input
                type="number"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm"
              />
            </div>
          </div>
        </div>

        <div class="row my-3" dir="rtl">
          <div class="input-group input-group mb-2 col">
            <span class="input-group-text" id="inputGroup-sizing"
              >العنوان بالكامل :</span
            >
            <input
              type="text"
              class="form-control"
              aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-sm"
            />
          </div>
        </div>

        <div class="row my-3" dir="rtl">
          <div class="col-md-6 col-12">
            <div class="input-group input-group mb-2 col-md-6 col-12">
              <span class="input-group-text" id="inputGroup-sizing"
                >ِشهاده الام :</span
              >
              <input
                type="text"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm"
              />
            </div>
          </div>
          <div class="col-md-6 col-12">
            <select class="form-select" aria-label="Default select example">
              <option selected>عمل الام</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>
        </div>

        <div class="row my-3" dir="rtl">
          <div class="col-md-6 col-12">
            <select class="form-select" aria-label="Default select example">
              <option selected>يعمل بالمدرسه</option>
              <option value="1">نعم</option>
              <option value="2">لا</option>
            </select>
          </div>
          <div class="col-md-6 col-12">
            <div class="input-group input-group mb-2 col">
              <span class="input-group-text" id="inputGroup-sizing"
                >عنوان العمل :</span
              >
              <input
                type="text"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm"
              />
            </div>
          </div>
        </div>

        <div class="row my-3" id="num" dir="rtl">
          <div class="col-md-8 col-12">
            <div class="input-group input-group mb-2 col-md-6 col-12">
              <span class="input-group-text" id="inputGroup-sizing"
                >رقم الهاتف :</span
              >
              <input
                type="number"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm"
              />
            </div>
          </div>
          <div class="col-md-2 col-6">
            <button class="btn btn-primary" onclick="add_mum_Phone()">
              اضافه رقم اخر
            </button>
          </div>
        </div>

        <div id="mum-phone" class="my-3"></div>
        <div class="d-flex my-3" dir="rtl">
          <div class="col-12 my-5 text-center">
            <button type="submit" class="rounded-pill btn btn-success w-50">
              تسجيل
            </button>
          </div>
        </div>
      </section>

      <!--sibling section-->
      <section id="sibling" class="container my-5 tab-pane fade">
        <h1 class="text-center py-4">بيانات الاخوه</h1>
        <div class="row my-3" dir="rtl">
          <div class="col-md-4 col-12">
            <div class="input-group input-group mb-2 col-md-6 col-12">
              <span class="input-group-text" id="inputGroup-sizing"
                >الاسم :</span
              >
              <input
                type="text"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm"
              />
            </div>
          </div>
          <div class="col-md-4 col-12">
            <div class="input-group input-group mb-2 col-md-6 col-12">
              <span class="input-group-text" id="inputGroup-sizing"
                >مدرسه الاخ :</span
              >
              <input
                type="text"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm"
              />
            </div>
          </div>
          <div class="col-md-4 col-12 text-center">
            <button class="btn btn-primary w-auto" onclick="addSibling()">
              اضافه اخ اخر
            </button>
          </div>
        </div>

        <div id="goto" class="my-3"></div>
        <div class="d-flex" dir="rtl">
          <div class="col-12 my-5 text-center">
            <button type="submit" class="rounded-pill btn btn-success w-50">
              تسجيل
            </button>
          </div>
        </div>
      </section>

      <!--installment table-->
      <section id="stud-installment" class="container my-5 tab-pane fade">
        <h1 class="text-center py-3">الاقساط</h1>
        <table
          class="table table-hover table-borderless table-striped"
          dir="rtl"
        >
          <thead>
            <tr>
              <th scope="col">رقم القسط</th>
              <th scope="col">تاريخ السداد</th>
              <th scope="col">تاريخ سداد ولي الامر</th>
              <th scope="col">المبلغ المستحق</th>
              <th scope="col">ملاحظات</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>12/5/2019</td>
              <td>1/6/2019</td>
              <td>3000</td>
              <td>ملتزم</td>
            </tr>
          </tbody>
        </table>
      </section>

      <section id="absence" class="container my-3 tab-pane fade" dir="rtl">
        <h1 class="border-3 border-bottom border-dark text-center py-3">
          الغياب
        </h1>
        <div class="row justify-content-center my-5">
          <div class="col-2">
            <h3>اسم الطالب:</h3>
          </div>
          <div
            class="
              col-10
              border
              mx-2
              rounded-pill
              w-auto
              my-1
              border-4 border-primary
            "
          >
            <span>ahmed</span>
          </div>
        </div>
        <h1 class="text-center my-3 border-3 border-bottom border-dark py-3">
          اضافه غياب
        </h1>
        <div class="row my-5">
          <div class="col-md-4 col-12">
            <div class="input-group input-group mb-2 col-md-6 col-12">
              <span class="input-group-text" id="inputGroup-sizing"
                >تاريخ الغياب:</span
              >
              <input
                type="date"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm"
              />
            </div>
          </div>
          <div class="col-md-4 col-12">
            <div class="input-group input-group mb-2 col-md-6 col-12">
              <select class="form-select" aria-label="Default select example">
                <option selected>نوع الغياب</option>
                <option value="1"></option>
                <option value="2"></option>
                <option value="2"></option>
              </select>
            </div>
          </div>
          <div class="col-md-4 col-12">
            <button class="btn btn-primary mx-2" onclick="addAbsence()">
              اضافه غياب
            </button>
          </div>
        </div>
        <div id="newAbsence"></div>
        <div class="d-flex" dir="rtl">
          <div class="col-12 my-3 text-center">
            <button type="submit" class="btn btn-success w-50 rounded-pill">
              تسجيل
            </button>
          </div>
        </div>
        <div class="container">
          <table
            class="table table-hover table-borderless table-striped"
            dir="rtl"
          >
            <thead>
              <tr>
                <th scope="col">اسم الطالب</th>
                <th scope="col">تاريخ الغياب</th>
                <th scope="col">نوع الغياب</th>
                <th scope="col">حذف الغياب</th>
              </tr>
            </thead>
            <tbody>
              <tr id="added-Absence">
                <th scope="row" class="pt-3">ملنسلاميسنلمسي</th>
                <td></td>
                <td>
                  <select
                    class="form-select w-auto rounded-pill"
                    aria-label="Default select example"
                  >
                    <option selected>نوع الغياب</option>
                    <option value="1"></option>
                    <option value="2"></option>
                    <option value="2"></option>
                  </select>
                </td>
                <td>
                  <button
                    class="btn btn-danger"
                    onclick="delete_table_Absence()"
                  >
                    حذف
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </main>

    <script src="../../node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./js/main.js"></script>
  </body>
</html>
